* {
    margin: 0px;
    padding: 0px;
}

header h1{
    padding: 50px;
    font-size: 30px;
    text-align: center;
}

table {
    padding: 20px;
    position: relative;
    text-align: center;
}

td {
    padding: 10px;
    height: 10px;
    widows: 10px;
    border: 1px solid black;
}

.dot {
    border: solid green;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}



